BOT_API_TOKEN=1234567890:A1B2C3D4E5F6G7H8I9JKLMNOPQRSTUVWXYZ
BOT_ADMIN_USER_IDS=1234567890,0987654321

DATABASE_NAME=database
DATABASE_USER=bot_master
DATABASE_PASSWORD=some-secret-password
DATABASE_HOST=postgres
DATABASE_PORT=5432
